.idea/

m/runtime/
api/runtime/
backend/runtime/
frontend/runtime/
console/runtime/

m/web/assets/
api/web/assets/
backend/web/assets/
frontend/web/assets/

api/config/main-local.php
api/config/params-local.php

m/config/main-local.php
m/config/params-local.php

frontend/config/main-local.php
frontend/config/params-local.php

backend/config/main-local.php
backend/config/params-local.php

common/config/main-local.php
common/config/params-local.php

vendor
uploads/
file_temp/
composer.json
composer.lock
composer.phar
backend/web/.htaccess
backend/web/nginx.htaccess
api/web/jpush.log
jpush.log
